
/dist
/build
docs/
__pycache__

*.sublime-workspace
*.py[cod]
*.log
*.pot
*.project
*.egg-info
*.py~
*.pid
*.swp
*.swo
*.so
*.psd
*.egg
*.egg-info
*.mo
*.dump
*.rdb
*.db
*.coverage
*.tox
*.jshintrc
*.jshintignore
.installed.cfg
htmlcov
coverage.xml
nosetests.xml
violations.txt
pip-log.txt
